/build
/bin
.DS_Store
.classpath
.project
.vscode
/.gradle
/.settings
.jshintrc
**/dist
**/temp
node_modules
bower_components
rev-manifest.json
**/ts/entcore
**/template/entcore

**/ts/**/*.js
**/ts/*.js
**/ts/**/*.js.map
**/ts/*.js.map
**/.DS_Store
**/view
gradlew
gradlew.bat
package-lock.json
.idea
gradle/wrapper