<div class="row statistics">
	<div class="row top-spacing-twice">
		<h1 class="six cell" data-reload>
			<a><i class="statistics"></i><span translate content="stats.title"></span></a>
		</h1>
		<nav class="contextual-buttons choice-view six cell">
			<div class="display-buttons" ng-if="template.contains('list', 'table-list') || template.contains('list', 'icons-list')">
				<i class="show-icons"
					 ng-class="{ selected: template.contains('list', 'icons-list') }"
					 ng-click="openView('list', 'icons-list')"></i>
				<i class="show-list"
				   ng-class="{ selected: template.contains('list', 'table-list') }"
				   ng-click="indicatorDetail(indicators[0])"></i>
			</div>
		</nav>
	</div>

	<div class="row">
		<div ng-include="template.containers.list" class="row"></div>
	</div>
</div>
