<article>

	<!-- Upper combo box - Indicator containers (total / structures / classes) -->
    <select ng-model="scopeEntity.current"
			ng-options="entity.name for entity in entities"
			ng-change="updateEntityCacheData()"
			class="indicator-container-combo"></select>
			
	<div class="indicator-icons-container">
		<div ng-repeat="indicator in indicators" class="indicator-icon-box" ng-click="indicatorDetail(indicator)">
			<i class="[[indicator.icon]] indicator-icon"/>
			<h1 class="indicator-number">[[getAggregatedValue(indicator, scopeEntity.current)]]</h1>
			<div class="indicator-name">[[lang.translate(indicator.name)]]</div>
			<div class="indicator-since"><i18n>stats.since</i18n> [[lang.translate(indicator.since)]]</div>
		</div>
	</div>

	<div class="stats-definitions">
		<h1 style="margin-top: 0px">[[lang.translate('stats.definitions')]]</h1>
		<div ng-repeat="definition in definitions" style="margin-bottom: 10px">
			<b>[[lang.translate('stats.'+definition)]]</b>:&nbsp
			<span>[[lang.translate('stats.def.'+definition)]]</span>
			<br>
		</div>
	</div>

</article>
