<article>
	<div class="humane humane-original-info" ng-class="{zero: display.loading === false}">
		<i class="loading"></i>
		<span><i18n>stats.loading</i18n></span>
	</div>
	  
	<div class="structure-tree" ng-if="state.currentEntity">
		<strong class="structure-tree__current">[[ state.currentEntity.name ]]</strong>
		<structure-tree items="state.structuresTree" select="selectEntity(id)" close="closeStructureTree()"></structure-tree>
	</div>
			
	<div class="indicator-icons-container">
		<div ng-repeat="indicator in state.indicators" class="indicator-icon-box" ng-click="indicatorDetail(indicator)">
			<i class="[[indicator.icon]] indicator-icon"></i>
			<h1 class="indicator-number">[[ indicator.getTotal(state.currentEntity) ]]</h1>
			<div class="indicator-name">[[ lang.translate(indicator.name) ]]</div>
			<div class="indicator-since"><i18n>stats.since</i18n> [[ lang.translate(indicator.getSinceDate(state.currentEntity)) ]]</div>
		</div>
	</div>

	<div class="stats-definitions">
		<h1 style="margin-top: 0px">[[ lang.translate('stats.definitions') ]]</h1>
		<div ng-repeat="definition in definitions" style="margin-bottom: 10px">
			<b>[[ lang.translate('stats.'+definition) ]]</b>:&nbsp
			<span>[[ lang.translate('stats.def.'+definition) ]]</span>
			<br>
		</div>
	</div>

	<lightbox>
		<div class="row">
				<h2>(Re)découvrez votre application Statistiques</h2>

				<p>Explorez vos différents indicateurs : connexions, visiteurs uniques, connexions par visiteur unique, accès aux applications, accès aux connecteurs, support le plus utilisé, activation des comptes, pics de fréquentation quotidiens et horaires.</p>

				<img class="block margin-auto img-thumbnail" skin-src="/img/illustrations/stats.gif"/>

				<!-- TODO : Cas n°1 : ADML structure chapeau -->
				<p>Vous pouvez exporter les données de vos différentes structures, de façon consolidée ou détaillée. <br />Au niveau de vos établissements scolaires, vous pourrez également choisir  d'exporter les statistiques par classes.</p>
				<!-- TODO : Cas n°2 : ADML structure simple -->
				<p>Vous pouvez exporter les données de votre établissement avec ou sans le détail par classes.</p>
				<!-- TODO : Si pas ADML, il n'y a rien sous l'image -->
				<div class="row">
					<button class="right-magnet">Je découvre</button>
				</div>
		</div>
	</lightbox>

</article>

