<style>
    .charts-section input[type=radio]+label {
		padding-left: 0;
	}
</style>
<article class="list-view clearfix" style="border: none;">
    <div class="humane humane-original-info" ng-class="{zero: display.loading === false}">
        <i class="loading" style="color: rgb(255 255 255);"></i>
        <span><i18n>stats.loading</i18n></span>
    </div>

    <div>
        <div class="structure-tree" ng-if="state.currentEntity">
            <strong class="structure-tree__current">[[ state.currentEntity.name ]]</strong>
            <structure-tree items="state.structuresTree" select="selectEntityAndOpenIndicator(id, state.currentIndicator)"></structure-tree>
        </div>
    </div>

    <!-- Indicator list -->
    <section class="vertical four cell twelve-mobile" ng-if="state.currentEntity">
		<nav class="vertical">
			<ul>
				<li ng-repeat="indicator in state.indicators" class="indicator-list-box">
                    <a ng-click="openIndicator(indicator)" style="margin: 0px 0px 5px 0px" ng-class="{ selected: isIndicatorSelected(indicator) }">
                        <h1 class="indicator-number">[[ indicator.getTotal(state.currentEntity) ]]</h1>
    					<div class="indicator-name">[[ lang.translate(indicator.name) ]]</div>
                        <div class="indicator-since"><i18n>stats.since</i18n> [[ lang.translate(indicator.getSinceDate(state.currentEntity)) ]]</div>
                    </a>
				</li>
			</ul>
		</nav>
	</section>

    <!-- Actual chart -->
    <section class="charts-section eight cell twelve-mobile" ng-show="state.currentIndicator">
        <!-- For line charts - menu to group by duration (day / week / month) -->
        <div class="chart-granularity-container right-magnet" ng-if="state.currentIndicator.chartType === 'line'">
            <div>[[ lang.translate('stats.groupBy' )]] :</div>
            <div ng-repeat="frequency in state.currentIndicator.chartFrequencies">
                <input type="radio" ng-model="state.currentIndicator.frequency" value="[[frequency]]" ng-change="openIndicator(state.currentIndicator)">
                <label>[[lang.translate('stats.'+frequency)]]</label>
            </div>
        </div>

        <!-- Information -->
        <h2>[[ lang.translate(state.currentIndicator.chartTitle) ]]</h2>

        <select 
            ng-if="displayAppsSelect()"
            ng-model="state.selectedAppName" 
            ng-change="openAppDetails()"
        >
            <optgroup>
                <option value="[[state.allAppsOrConnectorsI18nKey]]">[[lang.translate(state.allAppsOrConnectorsI18nKey)]]</option>
            </optgroup>
            <optgroup>
                <option ng-repeat="appName in state.currentIndicator.appNames | orderBy: 'value'" value="[[appName.key]]">[[appName.value]]</option>
            </optgroup>
        </select>

        <p ng-if="isOnlyOneConnector(state.currentIndicator)">[[lang.translate(state.selectedAppName)]]</p>

        <!-- Chart container -->
        <div style="text-align: center">
            <canvas id="chart" width="600" height="400"></canvas>
            <!-- h5 class="legend-title">[[lang.translate("stats.legendTitle")]]</h5>
            <div id="chart-legend-container"></div-->
		</div>
		<!-- Group by profile -->
        <div class="chart-profilecriteria-container" ng-class="{'adjust-width-actvated-accounts': state.currentIndicator.name === 'stats.activatedAccounts'}" 
            ng-if="state.currentIndicator.showProfileFilter()">
            <div ng-repeat="profile in state.currentIndicator.chartProfiles">
                <input type="radio" ng-model="state.currentIndicator.chartProfile" value="[[profile]]" ng-change="openIndicator(state.currentIndicator)">
                <label>[[lang.translate('stats.'+profile.toLowerCase())]]</label>
            </div>
        </div>
    </section>

    <a 
        ng-if="state.currentIndicator.isDataExportable()"
        href="" 
        ng-click="export()"
		translate content="stats.export" 
        class="right-magnet top-spacing-twice"
    >
    </a>

    <!-- Cas 1 :
        En tant qu'utilisateur rattaché à une structure chapeau ou ayant accès à plusieurs établissements, navigant sur une structure chapeau, 
        lorsque je clique sur le bouton "Exporter les statistiques" en bas à droite des graphes, une lightbox me propose de choisir les données de la structure chapeau ou le détails des données. 
    -->
    <lightbox show="display.lightbox.export.topLevelEntity" on-close="display.lightbox.export.topLevelEntity = false">
        <div class="row">
            <h2><i18n>stats.export</i18n></h2>
            <div> 
                <p>
                    <i18n>stats.export.lightbox.header</i18n>
                    <form>
                        <input id="exportAggregated" type="radio" ng-model="state.exportType" value="topLevel.aggregated">
                        <label for="exportAggregated"><i18n>stats.export.lightbox.data.aggregated</i18n> <strong>[[state.currentEntity.name]]</strong></label>
                        <br />
                        <input id="exportNotAggregated" type="radio" ng-model="state.exportType" value="topLevel.substructures">
                        <label for="exportNotAggregated"><i18n>stats.export.lightbox.data.notAggregated</i18n></label>
                    </form>
                </p>
                <div class="info relative">
                    <span><i18n>stats.export.lightbox.info</i18n></span>
                    <span class="tipbox">
                        <i class="help square-medium"></i>
                        <div class="tipbox-content tipbox bot">
                            <i18n>stats.export.lightbox.tipbox</i18n>
                        </div>
                    </span>
                </div>
                <button class="right-magnet" ng-click="exportFromLightbox()"><i18n>stats.export.button</i18n></button>
            </div>
        </div>
    </lightbox>

    <!-- Cas 2 : 
        En tant qu'utilisateur ADML rattaché à une ou plusieurs structure lorsque je clique sur le bouton "Exporter les statistiques" en bas à droite des graphes depuis uns structure simple (établissement), 
        une lightbox me propose de choisir les données de l'établissement ou le détail par classe 
    -->
    <lightbox show="display.lightbox.export.bottomLevelEntity" on-close="display.lightbox.export.bottomLevelEntity = false">
        <div class="row">
            <h2><i18n>stats.export</i18n></h2>
            <div>
                <p>
                    <i18n>stats.export.lightbox.header</i18n>
                    <form>
                        <input id="exportStructure" type="radio" ng-model="state.exportType" value="bottomLevel.structure" checked>
                        <label for="exportStructure"><i18n>stats.export.lightbox.data.structure</i18n> <strong>[[state.currentEntity.name]]</strong></label>
                        <br />
                        <input id="exportClasses" type="radio" ng-model="state.exportType" value="bottomLevel.structure.classes">
                        <label for="exportClasses"><i18n>stats.export.lightbox.data.classes</i18n></label>
                    </form>
                </p>
            </div>
            <button class="right-magnet" ng-click="exportFromLightbox()"><i18n>stats.export.button</i18n></button>
        </div>
    </lightbox>
</article>
