<style>
    .charts-section input[type=radio]+label {
		padding-left: 0;
	}
</style>
<article class="list-view" style="border: none;">
    <div class="humane humane-original-info" ng-class="{zero: display.loading === false}">
        <i class="loading" style="color: rgb(255 255 255);"></i>
        <span><i18n>stats.loading</i18n></span>
    </div>

    <div>
        <div class="structure-tree" ng-if="scopeEntity.current">
            <strong class="structure-tree__current">[[scopeEntity.current.name]]</strong>
            <structure-tree items="structuresTree" select="selectEntityAndOpenIndicator(id, currentIndicator)"></structure-tree>
        </div>
    </div>

    <!-- Indicator list -->
    <section class="vertical four cell twelve-mobile" ng-if="scopeEntity.current">
		<nav class="vertical">
			<ul>
				<li ng-repeat="indicator in indicators" class="indicator-list-box">
                    <a ng-click="openIndicator(indicator)" style="margin: 0px 0px 5px 0px" ng-class="{ selected: currentIndicator === indicator }">
                        <h1 class="indicator-number">[[getAggregatedValue(indicator, scopeEntity.current)]]</h1>
    					<div class="indicator-name">[[lang.translate(indicator.name)]]</div>
                        <div class="indicator-since"><i18n>stats.since</i18n> [[lang.translate(getSinceDateLabel(indicator, scopeEntity.current))]]</div>
                    </a>
				</li>
			</ul>
		</nav>
	</section>

    <!-- Actual chart -->
    <section class="charts-section eight cell twelve-mobile" ng-show="currentIndicator">
        <!-- For line charts - menu to group by duration (day / week / month) -->
        <div class="chart-granularity-container right-magnet" ng-if="currentIndicator.chartType === 'line'">
            <div>[[lang.translate('stats.groupBy')]] :</div>
            <div ng-repeat="frequency in currentIndicator.chartFrequencies">
                <input type="radio" ng-model="currentIndicator.frequency" value="[[frequency]]" ng-change="openIndicator(currentIndicator)">
                <label>[[lang.translate('stats.'+frequency)]]</label>
            </div>
        </div>

        <!-- Information -->
        <h2>[[lang.translate(currentIndicator.chartTitle)]]</h2>

        <!-- Chart container -->
        <div style="text-align: center">
            <canvas id="chart" width="600" height="400"></canvas>
            <!-- h5 class="legend-title">[[lang.translate("stats.legendTitle")]]</h5>
            <div id="chart-legend-container"></div-->
		</div>
		<!-- Group by profile -->
        <div class="chart-profilecriteria-container" ng-class="{'adjust-width-actvated-accounts': currentIndicator.name === 'stats.activatedAccounts'}" 
            ng-if="showProfileFilter()">
            <div ng-repeat="profile in currentIndicator.chartProfiles">
                <input type="radio" ng-model="currentIndicator.chartProfile" value="[[profile]]" ng-change="openIndicator(currentIndicator)">
                <label>[[lang.translate('stats.'+profile.toLowerCase())]]</label>
            </div>
        </div>
    </section>

    <a 
        ng-if="isDataExportable()"
        ng-href="[[getExportUrl()]]" 
		translate content="stats.export" 
		style="padding: 10px 0;" 
		target="_blank"
    >
    </a>
</article>
