{
    "name": "{{ statsVersion }}",
    "config": {
        "main" : "fr.wseduc.stats.Stats",
        "port" : 8225,
        "app-name" : "Statistiques",
        "app-address" : "/stats",
        "app-icon" : "stats-large",
        "app-displayName" : "stats",
        "app-type" : "END_USER",
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "ssl" : true,
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "auto-redeploy": false,
        "mode" : "prod",
        "entcore.port" : 8009,
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": ""
                },
                "LIBELLE_SERVICE": {
                    "default": "PAGE_ENT"
                }
            }
        },
        {% if statsCron is defined and statsCron %}
        "aggregation-cron": "0 0 0 * * ? 2099"
        {% else %}
        "aggregation-cron": "0 0 0 * * ? 2099"
        {% endif %}
    }
}